<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        
    {% endblock    %}
        </title>
</head>
<body>
    <h1>My Site</h1>
    <a href="{% url 'home' %}">Home</a> /
    {% if user.is_authenticated %}
        <a href="{% url 'password_change'%}">Change Password</a>/
        <a href="{% url 'logout' %}">Log out</a>/
        <span>
            You are logged in as 
            <strong>{{ user.username }}</strong>
        </span>
    {% else %}
        <a href="{% url 'signup' %}">SignUp</a>/
        <a href="{% url 'login' %}">Log in</a>/
    {% endif %} 
    <hr> 
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>